# Godot 4+ specific ignores
.godot/
/android/
ridiculous.svg.import
ridiculous.svg
ridiculous.png.import
ridiculous.png
readme-example.gif
LICENSE.md
addons/ridiculous_coding/themes.gd.uid
addons/ridiculous_coding/themes.gd
addons/ridiculous_coding/stats.gd.uid
addons/ridiculous_coding/stats.gd
addons/ridiculous_coding/sounds/typing/typewriter.wav.import
addons/ridiculous_coding/sounds/typing/typewriter.wav
addons/ridiculous_coding/sounds/typing/blip.wav.import
addons/ridiculous_coding/sounds/typing/blip.wav
addons/ridiculous_coding/sounds/others/fireworks.wav.import
addons/ridiculous_coding/sounds/others/fireworks.wav
addons/ridiculous_coding/sounds/deletion/boom.wav.import
addons/ridiculous_coding/sounds/deletion/boom.wav
addons/ridiculous_coding/resources/others/xp_calculator.gd.uid
addons/ridiculous_coding/resources/others/xp_calculator.gd
addons/ridiculous_coding/resources/interfaces/skill_window.tscn
addons/ridiculous_coding/resources/interfaces/skill_window.gd.uid
addons/ridiculous_coding/resources/interfaces/skill_window.gd
addons/ridiculous_coding/resources/interfaces/settings_window.tscn
addons/ridiculous_coding/resources/interfaces/settings_window.gd.uid
addons/ridiculous_coding/resources/interfaces/settings_window.gd
addons/ridiculous_coding/resources/interfaces/dock.tscn
addons/ridiculous_coding/resources/interfaces/dock.gd.uid
addons/ridiculous_coding/resources/interfaces/dock.gd
addons/ridiculous_coding/resources/effects/sound.tscn
addons/ridiculous_coding/resources/effects/sound.gd.uid
addons/ridiculous_coding/resources/effects/sound.gd
addons/ridiculous_coding/resources/effects/newline.tscn
addons/ridiculous_coding/resources/effects/newline.gd.uid
addons/ridiculous_coding/resources/effects/newline.gd
addons/ridiculous_coding/resources/effects/key.tscn
addons/ridiculous_coding/resources/effects/key.gd.uid
addons/ridiculous_coding/resources/effects/key.gd
addons/ridiculous_coding/resources/effects/boom.tscn
addons/ridiculous_coding/resources/effects/boom.gd.uid
addons/ridiculous_coding/resources/effects/boom.gd
addons/ridiculous_coding/resources/effects/blip.tscn
addons/ridiculous_coding/resources/effects/blip.gd.uid
addons/ridiculous_coding/resources/effects/blip.gd
addons/ridiculous_coding/resources/effects/base_effect.gd.uid
addons/ridiculous_coding/resources/effects/base_effect.gd
addons/ridiculous_coding/plugin.gd.uid
addons/ridiculous_coding/plugin.gd
addons/ridiculous_coding/plugin.cfg
addons/ridiculous_coding/images/undo.png.import
addons/ridiculous_coding/images/undo.png
addons/ridiculous_coding/images/under.png.import
addons/ridiculous_coding/images/under.png
addons/ridiculous_coding/images/settings.png.import
addons/ridiculous_coding/images/settings.png
addons/ridiculous_coding/images/reset.png.import
addons/ridiculous_coding/images/reset.png
addons/ridiculous_coding/images/progress.png.import
addons/ridiculous_coding/images/progress.png
addons/ridiculous_coding/images/newline.png.import
addons/ridiculous_coding/images/newline.png
addons/ridiculous_coding/images/levelUp.png.import
addons/ridiculous_coding/images/levelUp.png
addons/ridiculous_coding/images/information-sign.png.import
addons/ridiculous_coding/images/information-sign.png
addons/ridiculous_coding/images/chat-info.png.import
addons/ridiculous_coding/images/chat-info.png
addons/ridiculous_coding/images/boom.png.import
addons/ridiculous_coding/images/boom.png
addons/ridiculous_coding/images/blip.png.import
addons/ridiculous_coding/images/blip.png
addons/ridiculous_coding/icon_small.ico
addons/ridiculous_coding/icon.ico
addons/ridiculous_coding/gravity_bold_8.ttf.import
addons/ridiculous_coding/gravity_bold_8.ttf
addons/ridiculous_coding/font.tres
